<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rudecrab.ssm.mapper.UserAddressMapper" >
    <resultMap id="BaseResultMap" type="com.rudecrab.ssm.entity.UserAddress" >
        <!--
        @Enn.Howmuch.MybatisGenerator
        -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="addr_country" property="addrCountry" jdbcType="VARCHAR" />
        <result column="addr_province" property="addrProvince" jdbcType="VARCHAR" />
        <result column="addr_city" property="addrCity" jdbcType="VARCHAR" />
        <result column="addr_county" property="addrCounty" jdbcType="VARCHAR" />
        <result column="addr_detail" property="addrDetail" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        <!--
        @Enn.Howmuch.MybatisGenerator
        -->
        id, user_id, addr_country, addr_province, addr_city, addr_county, addr_detail, remark, 
        create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        <!--
        @Enn.Howmuch.MybatisGenerator
        -->
        select 
        <include refid="Base_Column_List" />
        from user_address
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        <!--
        @Enn.Howmuch.MybatisGenerator
        -->
        delete from user_address
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.rudecrab.ssm.entity.UserAddress" >
        <!--
        @Enn.Howmuch.MybatisGenerator
        -->
        insert into user_address (id, user_id, addr_country, 
            addr_province, addr_city, addr_county, 
            addr_detail, remark, create_time, 
            update_time)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{addrCountry,jdbcType=VARCHAR}, 
            #{addrProvince,jdbcType=VARCHAR}, #{addrCity,jdbcType=VARCHAR}, #{addrCounty,jdbcType=VARCHAR}, 
            #{addrDetail,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
            #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.rudecrab.ssm.entity.UserAddress" >
        <!--
        @Enn.Howmuch.MybatisGenerator
        -->
        insert into user_address
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="addrCountry != null" >
                addr_country,
            </if>
            <if test="addrProvince != null" >
                addr_province,
            </if>
            <if test="addrCity != null" >
                addr_city,
            </if>
            <if test="addrCounty != null" >
                addr_county,
            </if>
            <if test="addrDetail != null" >
                addr_detail,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="addrCountry != null" >
                #{addrCountry,jdbcType=VARCHAR},
            </if>
            <if test="addrProvince != null" >
                #{addrProvince,jdbcType=VARCHAR},
            </if>
            <if test="addrCity != null" >
                #{addrCity,jdbcType=VARCHAR},
            </if>
            <if test="addrCounty != null" >
                #{addrCounty,jdbcType=VARCHAR},
            </if>
            <if test="addrDetail != null" >
                #{addrDetail,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.rudecrab.ssm.entity.UserAddress" >
        <!--
        @Enn.Howmuch.MybatisGenerator
        -->
        update user_address
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="addrCountry != null" >
                addr_country = #{addrCountry,jdbcType=VARCHAR},
            </if>
            <if test="addrProvince != null" >
                addr_province = #{addrProvince,jdbcType=VARCHAR},
            </if>
            <if test="addrCity != null" >
                addr_city = #{addrCity,jdbcType=VARCHAR},
            </if>
            <if test="addrCounty != null" >
                addr_county = #{addrCounty,jdbcType=VARCHAR},
            </if>
            <if test="addrDetail != null" >
                addr_detail = #{addrDetail,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.rudecrab.ssm.entity.UserAddress" >
        <!--
        @Enn.Howmuch.MybatisGenerator
        -->
        update user_address
        set user_id = #{userId,jdbcType=INTEGER},
            addr_country = #{addrCountry,jdbcType=VARCHAR},
            addr_province = #{addrProvince,jdbcType=VARCHAR},
            addr_city = #{addrCity,jdbcType=VARCHAR},
            addr_county = #{addrCounty,jdbcType=VARCHAR},
            addr_detail = #{addrDetail,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>



    <resultMap id="allUserAddressMap" type="com.rudecrab.ssm.entity.vo.UserInfoVo">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <collection column="id" property="addressList" javaType="java.util.List" ofType="com.rudecrab.ssm.entity.UserAddress"
                    select="selectAddressId"/>
    </resultMap>

    <select id="getUserAddressListByUserId"  parameterType="int" resultMap="allUserAddressMap">
       select  * from user where id=#{userId}
    </select>

    <select id="selectAddressId"  parameterType="int" resultMap="BaseResultMap">
        select  * from user_address where user_id=#{userId}
    </select>
</mapper>